<a href="https://colab.research.google.com/github/Milena-DataScientist/AirbnbSeattle/blob/main/AirbnbSeattleDataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
listings = pd.read_csv('listings.csv')

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'experiences_offered', 'neighborhood_overview', 'notes', 'transit',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [ ]:
listings.head(1)

,id,listing_url,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,NaN,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07

### Dropping Empty Columns and Composite Columns :

In [ ]:
listings.experiences_offered.unique()#To check Unique Values

array(['none'], dtype=object)

In [ ]:
listings.drop('experiences_offered',1,inplace=True) #Drop the columns

In [ ]:
listings.smart_location.unique()

array(['Seattle, WA', 'Ballard, Seattle, WA', 'West Seattle, WA',
       'Seattle , WA', '西雅图, WA', 'Phinney Ridge Seattle, WA',
       'seattle, wa'], dtype=object)

In [ ]:
listings.drop('smart_location',1,inplace=True)

In [ ]:
#listings = listings.drop('smart_location',1) #Alternatwe COmmand

In [ ]:
listings.shape #Rows,Columns

(3818, 88)

In [ ]:
len(listings.id.unique())

3818

In [ ]:
listings['street'].head(1)

0    Gilman Dr W, Seattle, WA 98119, United States
Name: street, dtype: object

In [ ]:
listings['street'] = listings['street'].map(lambda x: str(x)[:-34])#Eliminate String From the RHS

In [ ]:
len(', Seattle, WA 98119, United States')

34

In [ ]:
listings['street'].head(5)

0        Gilman Dr W
1    7th Avenue West
2    West Lee Street
3    8th Avenue West
4         14th Ave W
Name: street, dtype: object

In [ ]:
listings.jurisdiction_names.unique() #What to do with this?

array(['WASHINGTON'], dtype=object)

### Modifying Tables with Values 't' and 'f' to 1 and 0

listings.requires_license.unique()

listings["requires_license"]= listings["requires_license"].replace('f', 0)
listings["requires_license"]= listings["requires_license"].replace('t', 1)

listings.instant_bookable.unique()

listings["instant_bookable"]= listings["instant_bookable"].replace('f', 0)
listings["instant_bookable"]= listings["instant_bookable"].replace('t', 1)

listings.require_guest_profile_picture.unique()

listings["require_guest_profile_picture"]= listings["require_guest_profile_picture"].replace('f', 0)
listings["require_guest_profile_picture"]= listings["require_guest_profile_picture"].replace('t', 1)

listings.require_guest_phone_verification.unique()

listings["require_guest_phone_verification"]= listings["require_guest_phone_verification"].replace('f', 0)
listings["require_guest_phone_verification"]= listings["require_guest_phone_verification"].replace('t', 1)

listings.is_location_exact.unique()

listings["is_location_exact"]= listings["is_location_exact"].replace('f', 0)
listings["is_location_exact"]= listings["is_location_exact"].replace('t', 1)

### Creating a Host DataFrame :

In [ ]:
host = listings[['host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified']]

In [ ]:
host.head(1)

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,956883,https://www.airbnb.com/users/show/956883,Maija,11-08-2011,"Seattle, Washington, United States","I am an artist, interior designer, and run a s...",within a few hours,96%,100%,f,https://a0.muscache.com/ac/users/956883/profil...,https://a0.muscache.com/ac/users/956883/profil...,Queen Anne,3.0,3.0,"['email', 'phone', 'reviews', 'kba']",t,t

In [ ]:
host.shape

(3818, 18)

In [ ]:
len(host.host_id.unique())

2751

In [ ]:
host['host_id'].value_counts().max()

46

In [ ]:
host[host['host_id']==8534462].head(2) #Seaech For Values

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
1077,8534462,https://www.airbnb.com/users/show/8534462,Daniela,30-08-2013,"Seattle, Washington, United States",It would be my pleasure to share and explore t...,within an hour,100%,100%,t,https://a2.muscache.com/ac/pictures/a4d7d053-c...,https://a2.muscache.com/ac/pictures/a4d7d053-c...,Belltown,48.0,48.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t
1149,8534462,https://www.airbnb.com/users/show/8534462,Daniela,30-08-2013,"Seattle, Washington, United States",It would be my pleasure to share and explore t...,within an hour,100%,100%,t,https://a2.muscache.com/ac/pictures/a4d7d053-c...,https://a2.muscache.com/ac/pictures/a4d7d053-c...,Belltown,48.0,48.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t

In [ ]:
#Dropping Duplicate Values in the DataFrame

In [ ]:
host.drop_duplicates(inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
host.shape

(2751, 18)

In [ ]:
host.head(5)

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,956883,https://www.airbnb.com/users/show/956883,Maija,11-08-2011,"Seattle, Washington, United States","I am an artist, interior designer, and run a s...",within a few hours,96%,100%,f,https://a0.muscache.com/ac/users/956883/profil...,https://a0.muscache.com/ac/users/956883/profil...,Queen Anne,3.0,3.0,"['email', 'phone', 'reviews', 'kba']",t,t
1,5177328,https://www.airbnb.com/users/show/5177328,Andrea,21-02-2013,"Seattle, Washington, United States",Living east coast/left coast/overseas. Time i...,within an hour,98%,100%,t,https://a0.muscache.com/ac/users/5177328/profi...,https://a0.muscache.com/ac/users/5177328/profi...,Queen Anne,6.0,6.0,"['email', 'phone', 'facebook', 'linkedin', 're...",t,t
2,16708587,https://www.airbnb.com/users/show/16708587,Jill,12-06-2014,"Seattle, Washington, United States",i love living in Seattle. i grew up in the mi...,within a few hours,67%,100%,f,https://a1.muscache.com/ac/users/16708587/prof...,https://a1.muscache.com/ac/users/16708587/prof...,Queen Anne,2.0,2.0,"['email', 'phone', 'google', 'reviews', 'jumio']",t,t
3,9851441,https://www.airbnb.com/users/show/9851441,Emily,06-11-2013,"Seattle, Washington, United States",NaN,NaN,NaN,NaN,f,https://a2.muscache.com/ac/users/9851441/profi...,https://a2.muscache.com/ac/users/9851441/profi...,Queen Anne,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t
4,1452570,https://www.airbnb.com/users/show/1452570,Emily,29-11-2011,"Seattle, Washington, United States","Hi, I live in Seattle, Washington but I'm orig...",within an hour,100%,NaN,f,https://a0.muscache.com/ac/users/1452570/profi...,https://a0.muscache.com/ac/users/1452570/profi...,Queen Anne,2.0,2.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t

In [ ]:
### Dropping the all columns from mail table(listings) except Host ID:

In [ ]:
host.columns

Index(['host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified'],
      dtype='object')

In [ ]:
listings.drop(columns=['host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified'],inplace=True)

### Creating Neighbourhood:

In [ ]:
neighbourhood = listings[[
      'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed','market']]

In [ ]:
neighbourhood.shape

(3818, 4)

In [ ]:
neighbourhood.drop_duplicates(inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
neighbourhood.shape

(270, 4)

In [ ]:
neighbourhood = neighbourhood.drop(['neighbourhood'],1)

In [ ]:
neighbourhood.head(1)

  neighbourhood_cleansed neighbourhood_group_cleansed   market
0        West Queen Anne                   Queen Anne  Seattle

In [ ]:
#Renaming Columns

In [ ]:
neighbourhood.rename(columns={'neighbourhood_cleansed':'neighbourhood','neighbourhood_group_cleansed':'neighbourhood_group'},inplace=True)

In [ ]:
neighbourhood.head(1)

     neighbourhood neighbourhood_group   market
0  West Queen Anne          Queen Anne  Seattle

In [ ]:
neighbourhood.neighbourhood.unique()

array(['West Queen Anne', 'Adams', 'West Woodland', 'East Queen Anne',
       'Wallingford', 'North Queen Anne', 'Green Lake', 'Westlake',
       'Mann', 'Madrona', 'University District', 'Harrison/Denny-Blaine',
       'Minor', 'Leschi', 'Atlantic', 'Pike-Market', 'Eastlake',
       'South Lake Union', 'Lawton Park', 'Briarcliff', 'Belltown',
       'International District', 'Central Business District',
       'First Hill', 'Yesler Terrace', 'Pioneer Square', 'Gatewood',
       'Arbor Heights', 'Alki', 'North Admiral', 'Crown Hill',
       'Fairmount Park', 'Genesee', 'Interbay', 'Industrial District',
       'Mid-Beacon Hill', 'South Beacon Hill', 'Greenwood', 'Holly Park',
       'Fauntleroy', 'North Beacon Hill', 'Mount Baker', 'Brighton',
       'South Delridge', 'View Ridge', 'Dunlap', 'Rainier Beach',
       'Columbia City', 'Seward Park', 'North Delridge', 'Maple Leaf',
       'Ravenna', 'Riverview', 'Portage Bay', 'Bryant', 'Montlake',
       'Broadway', 'Loyal Heights', 'Victory Heights', 'Matthews Beach',
       'Whittier Heights', 'Meadowbrook', 'Olympic Hills', 'Roosevelt',
       'Lower Queen Anne', 'Wedgwood', 'North Beach/Blue Ridge',
       'Cedar Park', 'Bitter Lake', 'Sunset Hill', 'Haller Lake',
       'Pinehurst', 'North College Park', 'Phinney Ridge', 'Windermere',
       'Laurelhurst', 'Southeast Magnolia', 'High Point', 'Seaview',
       'Georgetown', 'South Park', 'Roxhill', 'Highland Park',
       'Madison Park', 'Stevens', 'Broadview', 'Fremont'], dtype=object)

In [ ]:
#Removing City Because Non Standart Values
# neighbourhood['city'] = neighbourhood['market']

# neighbourhood = neighbourhood.drop(['market'],1)

# neighbourhood.shape

In [ ]:
neighbourhood.drop_duplicates(inplace=True)

In [ ]:
neighbourhood.shape

(87, 3)

In [ ]:
neighbourhood.head(5)

       neighbourhood  neighbourhood_group   market
0    West Queen Anne           Queen Anne  Seattle
65             Adams              Ballard  Seattle
135    West Woodland              Ballard  Seattle
199  East Queen Anne           Queen Anne  Seattle
280      Wallingford  Other neighborhoods  Seattle

In [ ]:
neighbourhood.reset_index(inplace=True)
neighbourhood.reset_index(inplace=True)

In [ ]:
neighbourhood.drop('index',1,inplace=True)

In [ ]:
neighbourhood.rename(columns={'level_0':'location_id'},inplace=True)

In [ ]:
neighbourhood.head(5)

   location_id    neighbourhood  neighbourhood_group   market
0            0  West Queen Anne           Queen Anne  Seattle
1            1            Adams              Ballard  Seattle
2            2    West Woodland              Ballard  Seattle
3            3  East Queen Anne           Queen Anne  Seattle
4            4      Wallingford  Other neighborhoods  Seattle

In [ ]:
listings = pd.merge(listings,neighbourhood,how='left', left_on=['neighbourhood_cleansed','neighbourhood_group_cleansed','market'], right_on = ['neighbourhood','neighbourhood_group','market'])

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'street',
       'neighbourhood_x', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'country_code', 'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'minimum_nights', 'maximum_nights', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id',
       'neighbourhood_y', 'neighbourhood_group'],
      dtype='object')

In [ ]:
#Dropping Unnecessary Columns

In [ ]:
listings.drop(columns=['neighbourhood_x','neighbourhood_group_cleansed','neighbourhood_cleansed','neighbourhood_group','neighbourhood_y','market'],inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'country', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'square_feet', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id'],
      dtype='object')

### Country Table

In [ ]:
country = listings[['country_code', 'country']]

In [ ]:
country.shape

(3818, 2)

In [ ]:
country.drop_duplicates(inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
country.shape

(1, 2)

In [ ]:
#We can drop this all together
listings.drop('country',1,inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month', 'location_id'],
      dtype='object')

### Images

In [ ]:
image = listings[['id','thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url']]

In [ ]:
image.shape

(3818, 5)

In [ ]:
len(image.thumbnail_url.unique())

3499

In [ ]:
image.head(5)

,id,thumbnail_url,medium_url,picture_url,xl_picture_url
0,241032,NaN,NaN,https://a1.muscache.com/ac/pictures/67560560/c...,NaN
1,953595,https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/im/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...
2,3308979,NaN,NaN,https://a2.muscache.com/ac/pictures/b4324e0f-a...,NaN
3,7421966,NaN,NaN,https://a0.muscache.com/ac/pictures/94146944/6...,NaN
4,278830,NaN,NaN,https://a1.muscache.com/ac/pictures/6120468/b0...,NaN

In [ ]:
#Dropping Image Tables

In [ ]:
listings.drop(columns=['thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url'],inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month', 'location_id'],
      dtype='object')

### Beds_Types

In [ ]:
listings.bed_type.unique()

array(['Real Bed', 'Futon', 'Pull-out Sofa', 'Airbed', 'Couch'],
      dtype=object)

In [ ]:
bed_types = listings[['bed_type']]

In [ ]:
bed_types.drop_duplicates(inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
bed_types.head(5)

          bed_type
0         Real Bed
18           Futon
71   Pull-out Sofa
308         Airbed
431          Couch

In [ ]:
bed_types.reset_index(inplace=True)

In [ ]:
bed_types.head(5)

   index       bed_type
0      0       Real Bed
1     18          Futon
2     71  Pull-out Sofa
3    308         Airbed
4    431          Couch

In [ ]:
bed_types.reset_index(inplace=True)

In [ ]:
bed_types.head(5)

   level_0  index       bed_type
0        0      0       Real Bed
1        1     18          Futon
2        2     71  Pull-out Sofa
3        3    308         Airbed
4        4    431          Couch

In [ ]:
bed_types.rename(columns={'level_0':'bed_type_id'},inplace=True) #Rename The Column

C:\Users\16314\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
bed_types

   bed_type_id  index       bed_type
0            0      0       Real Bed
1            1     18          Futon
2            2     71  Pull-out Sofa
3            3    308         Airbed
4            4    431          Couch

In [ ]:
bed_types.drop(['index'],1,inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
bed_types.head()

   bed_type_id       bed_type
0            0       Real Bed
1            1          Futon
2            2  Pull-out Sofa
3            3         Airbed
4            4          Couch

In [ ]:
listings = pd.merge(listings,bed_types,how='left',left_on='bed_type',right_on='bed_type')

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month', 'location_id', 'bed_type_id'],
      dtype='object')

In [ ]:
listings.drop(columns=['bed_type'],inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'amenities', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id',
       'bed_type_id'],
      dtype='object')

## Accomodation Table

In [ ]:
accomodations = listings[['id','accommodates', 'bathrooms', 'bedrooms', 'beds']]

In [ ]:
listings.drop(columns=['accommodates', 'bathrooms', 'bedrooms', 'beds'],inplace=True)

# Property Type:

In [ ]:
len(listings.property_type.unique())

17

In [ ]:
property_type = listings[['property_type']]

In [ ]:
property_type.drop_duplicates(inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
property_type.reset_index(inplace=True)
property_type.reset_index(inplace=True)

In [ ]:
property_type = property_type.rename(columns={'level_0':'property_type_id'})

In [ ]:
property_type  = property_type.drop('index',1)

In [ ]:
property_type.head(5)

   property_type_id property_type
0                 0     Apartment
1                 1         House
2                 2         Cabin
3                 3   Condominium
4                 4     Camper/RV

In [ ]:
listings = pd.merge(listings,property_type,how='left',left_on='property_type',right_on='property_type')

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'amenities',
       'square_feet', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'calendar_last_scraped',
       'number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id',
       'bed_type_id', 'property_type_id'],
      dtype='object')

In [ ]:
listings.drop('property_type',1,inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'room_type', 'amenities', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id',
       'bed_type_id', 'property_type_id'],
      dtype='object')

### Room Type

In [ ]:
len(listings.room_type.unique())

3

In [ ]:
room_type = listings[['room_type']]

In [ ]:
room_type.drop_duplicates(inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
room_type = room_type.reset_index()
room_type = room_type.reset_index()

In [ ]:
room_type = room_type.rename(columns={'level_0':'room_type_id'})

In [ ]:
room_type = room_type.drop('index',1)

In [ ]:
room_type

   room_type_id        room_type
0             0  Entire home/apt
1             1     Private room
2             2      Shared room

In [ ]:
listings = pd.merge(listings,room_type,how='left',left_on='room_type',right_on='room_type')

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'room_type', 'amenities', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id',
       'bed_type_id', 'property_type_id', 'room_type_id'],
      dtype='object')

In [ ]:
listings.drop('room_type',1,inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'amenities', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id',
       'bed_type_id', 'property_type_id', 'room_type_id'],
      dtype='object')

In [ ]:
#Note From Milena

### Cancellation Policy

In [ ]:
len(listings.cancellation_policy.unique())

3

In [ ]:
cancellation_policy = listings[['cancellation_policy']]

In [ ]:
cancellation_policy = cancellation_policy.drop_duplicates()

In [ ]:
cancellation_policy = cancellation_policy.reset_index()
cancellation_policy = cancellation_policy.reset_index()

In [ ]:
cancellation_policy = cancellation_policy.rename(columns={'level_0':'cancellation_policy_id'})

In [ ]:
cancellation_policy.drop('index',1)

   cancellation_policy_id cancellation_policy
0                       0            moderate
1                       1              strict
2                       2            flexible

In [ ]:
listings = pd.merge(listings,cancellation_policy,how='left',left_on='cancellation_policy',right_on='cancellation_policy')

In [ ]:
listings.drop('cancellation_policy',1,inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'amenities', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'jurisdiction_names', 'instant_bookable',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month', 'location_id',
       'bed_type_id', 'property_type_id', 'room_type_id',
       'cancellation_policy_id', 'index'],
      dtype='object')

In [ ]:
#Dropping Unnecessary Columns

In [ ]:
listings.drop('calendar_last_scraped',1,inplace=True)

## Cost

In [ ]:
cost = listings[['id','price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people']]

In [ ]:
listings.drop(columns=['price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people'],inplace=True)

### Review Scores

In [ ]:
review_scores = listings[['id','number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value']]

In [ ]:
listings.drop(columns=['number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value'],inplace=True)

## Availablity

In [ ]:
availablity  = listings[['id','has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365','instant_bookable']]

In [ ]:
listings.drop(columns=['has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365','instant_bookable'],inplace=True)

In [ ]:
listings.columns

Index(['id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'host_id', 'street',
       'city', 'state', 'zipcode', 'country_code', 'latitude', 'longitude',
       'is_location_exact', 'amenities', 'square_feet', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'requires_license', 'license',
       'jurisdiction_names', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month', 'location_id', 'bed_type_id', 'property_type_id',
       'room_type_id', 'cancellation_policy_id', 'index'],
      dtype='object')

In [ ]:
listings.description.unique()

array(["Make your self at home in this charming one-bedroom apartment, centrally-located on the west side of Queen Anne hill.   This elegantly-decorated, completely private apartment (bottom unit of a duplex) has an open floor plan, bamboo floors, a fully equipped kitchen, a TV,  DVD player, basic cable, and a very cozy bedroom with a queen-size bed. The unit sleeps up to four (two in the bedroom and two on the very comfortable fold out couch, linens included) and includes free WiFi and laundry. The apartment opens onto a private deck, complete with it's own BBQ, overlooking a garden and a forest of black bamboo.    The Apartment is perfectly-located just one block from the bus lines where you can catch a bus and be downtown Seattle in fifteen minutes or historic Ballard in ten or a quick five-minute walk will bring you to Whole Foods and Peet's Coffee or take a fifteen minute walk to the top of Queen Anne Hill where you will find a variety of eclectic shops, bars, and restaurants. There is no",
       "Chemically sensitive? We've removed the irritants triggering allergy or asthma attacks, like carpeting, forced air & used pillows, all culprits that harbor fungus, mold & bacteria.  No smoking, no pets.  Designed for healthy living, so breathe easy. Beautiful, hypoallergenic apartment in an extremely safe, quiet and pedestrian-friendly section of Queen Anne.  A leafy-green location that puts the best of Seattle at your doorstep. Free WiFi, free parking, ...even free pillows!  What's special about this place? Hypo-allergenic bedding, mattresses/covers and new pillows with each rental. (So feel free to take your new pillows with you!)  A beautiful restoration mixing period details & modern sensibilities: Hardwood floors throughout, white subway tile, low/no VOCs & non-toxic paints keep this home-away-from-home clean, smart and healthy. Radiant heat and oil radiators mean no blowing hot air or dust.  Great Amenities: Free WiFi & internet TV (LED flatscreen). Fully-equipped kitchen with st",
       'New modern house built in 2013.  Spectacular sunset/water views and light, rooftop deck and lounge area, hot tub, 5 bedrooms, gourmet kitchen.  Perfect for 2-3 families, walk to downtown.  Located in highly desirable Queen Anne neighborhood. Our house is modern, light and fresh with a warm simple palette accented with barnwood, steel and concrete.  Open living spaces for entertaining, gourmet kitchen, deck off the kitchen, reading nook, half bath and smaller tv room off kitchen.  Fireplace with sofa and sitting area. Basement room is great for kids...this room has patio access and a garage door that opens into the space with basketball hoop right outside.  A queen bedroom and full bath are in the basement with concrete heated floors.  A queen sleeper sofa is in the tv area in the basement.  This room has a door if privacy is needed.  Great for a second family with kids.  The 2nd floor has 4 bedrooms (one queen in master, one twin bedroom, another bedroom has twin bunk beds and the last',
       ...,
       'Very comfortable lower unit. Quiet, charming mid-century neighborhood with amazing views of Lake Washington. Easy access to Seatac airport, downtown or Bellevue.',
       'Cozy studio condo in the heart on Madison Park on Lake WA! Just steps away from shopping, restaurants, and minutes away from downtown Seattle. Come relax on the balcony and enjoy the stunning views of Lake WA along with the convenience of tons of amenities just steps away! Fully furnished unit to accommodate most needs. We have made every effort to make sure your stay is comfortable as can be.  Absolutely no smoking and no pets.  Space Features: Complimentary wireless internet. Cable w/Xbox one blue ray player. Modern bathroom with spa like shower. Fully equipped kitchen w/toaster, microwave, stove oven, fridge, kurig coffee maker. Pots, pans, silverware, cups, glasses, dishes, prep tools, wine and can opener. Cleaning supplies, sponge.  Balcony with table and chairs overlooking Lake WA.  On main level of entrance . Eating bar space. Hotel like queen size bed with comfortable linens. Own parking space.  Tall dresser Closet Lock box located on the railing to the right of the building. C',
       'All hardwood floors, fireplace, 65" TV with Xbox One, elevator opens to the apartment (takes a key). A porch with a charcoal grill, king size bed, parking. 10 minutes walking from Fremont, 10 minutes walking from Queen Anne. While we are away, our family will be around to help. Also our puppy will be boarded away.'],
      dtype=object)

In [ ]:
listings.space.unique()

array(["Make your self at home in this charming one-bedroom apartment, centrally-located on the west side of Queen Anne hill.   This elegantly-decorated, completely private apartment (bottom unit of a duplex) has an open floor plan, bamboo floors, a fully equipped kitchen, a TV,  DVD player, basic cable, and a very cozy bedroom with a queen-size bed. The unit sleeps up to four (two in the bedroom and two on the very comfortable fold out couch, linens included) and includes free WiFi and laundry. The apartment opens onto a private deck, complete with it's own BBQ, overlooking a garden and a forest of black bamboo.    The Apartment is perfectly-located just one block from the bus lines where you can catch a bus and be downtown Seattle in fifteen minutes or historic Ballard in ten or a quick five-minute walk will bring you to Whole Foods and Peet's Coffee or take a fifteen minute walk to the top of Queen Anne Hill where you will find a variety of eclectic shops, bars, and restaurants. There is no",
       "Beautiful, hypoallergenic apartment in an extremely safe, quiet and pedestrian-friendly section of Queen Anne.  A leafy-green location that puts the best of Seattle at your doorstep. Free WiFi, free parking, ...even free pillows!  What's special about this place? Hypo-allergenic bedding, mattresses/covers and new pillows with each rental. (So feel free to take your new pillows with you!)  A beautiful restoration mixing period details & modern sensibilities: Hardwood floors throughout, white subway tile, low/no VOCs & non-toxic paints keep this home-away-from-home clean, smart and healthy. Radiant heat and oil radiators mean no blowing hot air or dust.  Great Amenities: Free WiFi & internet TV (LED flatscreen). Fully-equipped kitchen with stainless-steel appliances, sink & disposal. Large washer & dryer.  Iron/ironing board. Hairdryer. Plenty of storage. Convenient parking, both on- and off-street. The Best Location: Enjoy Seattle's celebrated Macrina bakery, neighborhood cafes, boutiqu",
       'Our house is modern, light and fresh with a warm simple palette accented with barnwood, steel and concrete.  Open living spaces for entertaining, gourmet kitchen, deck off the kitchen, reading nook, half bath and smaller tv room off kitchen.  Fireplace with sofa and sitting area. Basement room is great for kids...this room has patio access and a garage door that opens into the space with basketball hoop right outside.  A queen bedroom and full bath are in the basement with concrete heated floors.  A queen sleeper sofa is in the tv area in the basement.  This room has a door if privacy is needed.  Great for a second family with kids.  The 2nd floor has 4 bedrooms (one queen in master, one twin bedroom, another bedroom has twin bunk beds and the last bedroom has a queen bed. Their are 2 full baths, both with double sinks on this floor(one in the master).  The 3rd floor is a very large deck, hot tub, kitchen prep area with fridge, lounge space for movies and 3/4 bath (rain head shower).  ',
       ...,
       "Our 3BR/2BA house bright, stylish, and wheelchair accessible. With breathtaking views of Salmon Bay and the Olympic Mountains beyond, it's the perfect perch for your Seattle visit. Great dining, shopping, and attractions are just steps away!  INSIDE THE HOUSE The main living and dining space, furnished in attractive Danish Modern style, enjoys a panoramic view of Salmon Bay and the Olympic Mountains. Relax over coffee in the living room, with a decorative original mid-century fireplace. Fantastic views continue into the dining room, which accommodates up to 8.  As for cooking, you'll find everything you need in the fully equipped kitchen, complete with stainless steel appliances, lots of counter space, and a kitchen bar that seats 2. Venture downstairs for the entertainment area, complete 50 inch flat screen Smart TV, DVD player, and cable, plus a cozy reading corner. Our house sleeps 6 guests between 3 sunlit bedrooms. You'll find queen-sized beds in the master and 3rd bedroom. The 2n",
       "This space has a great view of Portage Bay with all of its marine activity.  Located just 5 minutes from the University of Washington, and just 10 minutes to the Amazon campus and downtown Seattle.  The Burke Gillman trail is  very close, and it's a 20 minute walk to Husky Stadium.",
       'Fully furnished unit to accommodate most needs. We have made every effort to make sure your stay is comfortable as can be.  Absolutely no smoking and no pets.  Space Features: Complimentary wireless internet. Cable w/Xbox one blue ray player. Modern bathroom with spa like shower. Fully equipped kitchen w/toaster, microwave, stove oven, fridge, kurig coffee maker. Pots, pans, silverware, cups, glasses, dishes, prep tools, wine and can opener. Cleaning supplies, sponge.  Balcony with table and chairs overlooking Lake WA.  On main level of entrance . Eating bar space. Hotel like queen size bed with comfortable linens. Own parking space.  Tall dresser Closet'],
      dtype=object)

In [ ]:
listings.amenities.unique()

array(['{TV,"Cable TV",Internet,"Wireless Internet","Air Conditioning",Kitchen,Heating,"Family/Kid Friendly",Washer,Dryer}',
       '{TV,Internet,"Wireless Internet",Kitchen,"Free Parking on Premises","Buzzer/Wireless Intercom",Heating,"Family/Kid Friendly",Washer,Dryer,"Smoke Detector","Carbon Monoxide Detector","First Aid Kit","Safety Card","Fire Extinguisher",Essentials}',
       '{TV,"Cable TV",Internet,"Wireless Internet","Air Conditioning",Kitchen,"Free Parking on Premises","Pets Allowed","Pets live on this property",Dog(s),Cat(s),"Hot Tub","Indoor Fireplace",Heating,"Family/Kid Friendly",Washer,Dryer,"Smoke Detector","Carbon Monoxide Detector",Essentials,Shampoo}',
       ...,
       '{"Cable TV","Wireless Internet",Kitchen,"Free Parking on Premises",Breakfast,"Pets live on this property",Dog(s),Cat(s),Heating,Washer,Dryer,"Smoke Detector","First Aid Kit","Safety Card","Fire Extinguisher",Essentials,Hangers,"Hair Dryer",Iron,"Laptop Friendly Workspace"}',
       '{TV,"Wireless Internet",Kitchen,"Free Parking on Premises","Elevator in Building",Heating,"Smoke Detector",Essentials,Hangers,"Hair Dryer","Laptop Friendly Workspace"}',
       '{TV,"Cable TV",Internet,"Wireless Internet",Kitchen,"Free Parking on Premises","Pets live on this property",Dog(s),"Elevator in Building","Hot Tub","Indoor Fireplace","Buzzer/Wireless Intercom",Heating,"Family/Kid Friendly",Washer,Dryer,"Smoke Detector",Essentials,Shampoo,Hangers,Iron,"Laptop Friendly Workspace"}'],
      dtype=object)

## Excel Review

In [ ]:
reviews = pd.read_csv('reviews.csv')

In [ ]:
reviews.head(2)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...

In [ ]:
reviewer = reviews[['reviewer_id','reviewer_name']]

In [ ]:
len(reviewer.reviewer_id.unique())

75730

In [ ]:
reviewer.shape

(84849, 2)

In [ ]:
reviewer.drop_duplicates(inplace=True)

C:\Users\16314\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
reviews.drop('reviewer_name',1,inplace=True)

In [ ]:
reviews.head(10)

,listing_id,id,date,reviewer_id,comments
0,7202016,38917982,2015-07-19,28943674,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Kelly was a great host and very accommodating ...
5,7202016,43979139,2015-08-23,1154501,"Kelly was great, place was great, just what I ..."
6,7202016,45265631,2015-09-01,37853266,Kelly was great! Very nice and the neighborhoo...
7,7202016,46749120,2015-09-13,24445447,hola all bnb erz - Just left Seattle where I h...
8,7202016,47783346,2015-09-21,249583,Kelly's place is conveniently located on a qui...
9,7202016,48388999,2015-09-26,38110731,"The place was really nice, clean, and the most..."

## Calendar Excel

In [ ]:
calendar = pd.read_csv('calendar.csv')

In [ ]:
calendar.head(10)

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN
5      241032  2016-01-09         f     NaN
6      241032  2016-01-10         f     NaN
7      241032  2016-01-11         f     NaN
8      241032  2016-01-12         f     NaN
9      241032  2016-01-13         t  $85.00

In [ ]:
calendar.shape

(1393570, 4)

# Importing All to CSV

In [ ]:
listings.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\listings.csv')
review_scores.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\review_scores.csv')
reviewer.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\reviewer.csv')
reviews.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\reviews.csv')
cancellation_policy.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\cancellation_policy.csv')
room_type.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\room_type.csv')
property_type.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\property_type.csv')
bed_types.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\bed_types.csv')
country.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\country.csv')
neighbourhood.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\neighbourhood.csv')
host.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\host.csv')
availablity.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\availablity.csv')
accomodations.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\accomodations.csv')
cost.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\cost.csv')
calendar.to_csv(r'C:\Users\16314\OneDrive - The University of Texas at Dallas\BUAN 6320\phase1.2\calendar2.csv')